
<mat-card style="width: 100%;">
  <mat-card-header>
    <mat-card-title style="font-size: x-large;">{{heroName}}</mat-card-title>
    <mat-card-subtitle>{{heroEta}} anni, {{heroSex}}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <div style="margin-bottom: 4%">
      <h2>Segni Particolari</h2>
      {{heroSegni}}
    </div>
    <div>
      <h2>Note</h2>
      {{heroNote}}
    </div>
  </mat-card-content>
</mat-card>
<div>
  <button style="margin-top: 4%; float: right;" class="btn btn-outline-primary btn-padding" (click)="closeDialog()">
    Chiudi
  </button>
</div>
