<div>
  <button class="btn">
    <nb-icon nbTooltip="Visualizza" (click)="onView(params)" class="pointer" icon="search-outline"></nb-icon>
  </button>

  <button class="btn">
    <nb-icon nbTooltip="Modifica" (click)="onEdit(params)" class="pointer" icon="edit-2-outline"></nb-icon>
  </button>

  <button class="btn">
    <nb-icon nbTooltip="Elimina" (click)="onDelete(params)"  class="pointer" icon="close-outline"></nb-icon>
  </button>

</div>
