<div style="height: auto;">
  <h1>Eliminare il supereroe {{heroName}}?</h1>
  <div>
    <button style="float: left;" class="btn btn-danger" (click)="deleteHero()">
      Elimina
    </button>
    <button style="float: right;" class="btn btn-outline-primary" (click)="close()">
      Mantieni
    </button>
  </div>
</div>
