.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width-left{
  width: 45%;
  float: left;
}

.half-width-right{
  width: 45%;
  float: right;
}

.btn-padding{
  padding-left:4%;
  padding-right: 4%;
}
