<div>
  <h1>Modifica le informazioni</h1>
  <div>
    <form class="example-form" [formGroup] = "editForm">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. Spiderman" value= {{heroName}} formControlName="heroName">
      </mat-form-field>

      <mat-form-field class="half-width-left">
        <mat-label>Età</mat-label>
        <input matInput placeholder="Ex. 26" value= {{heroEta}} formControlName="heroEta">
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width-right">
        <mat-label>Sesso</mat-label>
        <mat-select [(value)]="heroSex" formControlName="heroSex">
          <mat-option value="M">M</mat-option>
          <mat-option value="F">F</mat-option>
          <mat-option value="Unicorno">Unicorno</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Segni Particolari</mat-label>
        <input matInput placeholder="Ex. Molto bello" value= {{heroSegni}} formControlName="heroSegni">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Note</mat-label>
        <input matInput placeholder="Ex. Un bravo ragazzo" value= {{heroNote}} formControlName="heroNote">
      </mat-form-field>

      <button style="float: left;" class="btn btn-outline-danger btn-padding" (click)="deleteChanges()">
        Annulla
      </button>
      <button style="float: right;" class="btn btn-success btn-padding" [disabled]="!editForm.valid" (click)="saveChanges()">
        Salva
      </button>
    </form>
  </div>
</div>
