/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

body{
  padding: 2%;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
