
#addHero{
  display: block;
  position: relative;
  margin:auto;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 20%;
  height: auto;
  padding-top: 0.5%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  padding-left: 1%;
}

